/* 引入字体 */
@font-face {
    font-family: "ProximaNova";
    src: url('./font/ProximaNova-Regular.otf');
}
body {
    margin: 0;
    height: 100%;
    font: 14px/1.5 ProximaNova, Arial, sans-serif;
}
li {
    list-style: none;
}
.app {
    flex: 1;
}
.side {
    flex-shrink: 0;
}
/* 布局 */
.wrap {
    position: relative;
    display: flex;
    height: 100%;
    min-width: 1300px;
    overflow: hidden;
}
.side {
    display: flex;
    width: 350px;
}
.menu {
    width: 250px;
}
/* icon */
.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: top;
}
.icon-menu {
    background-image: url(./images/icon.png);
    background-position: 0 center;
}
.icon-setting {
    background-image: url(./images/icon.png);
    background-position: 22px center;
}
/* 第一列 */
.app {
    position: relative;
    background-color: #1d2531;
}
.app-btns {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.app-btn {
    display: block;
    width: 64px;
    height: 60px;
    background-image: url(./images/app.png);
    margin-bottom: 20px;
}
.app-btn:nth-child(2) {
    background-position: 0 -80px;
}
.app-btn:nth-child(3) {
    background-position: 0 -160px;
}
.app-btn-add {
    position: relative;
    width: 60px;
    height: 60px;
    border: 3px solid #2d3848;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}
/* 在app-btn-add的位置画两条短横线 */
.app-btn-add:before,
.app-btn-add:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 4px;
    background-color: #2d3848;
}
/* 在app-btn-add的第二条短横线旋转90度形成加号，当然也可以把原图中的加号切出来定义位置即可 */
.app-btn-add:after {
    transform: translate(-50%, -50%) rotate(90deg);
}
.app-ft {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 20px 0;
}
.app-ft .icon {
    margin: 0 10px;
}

/* 第二列 */
.menu {
    position: relative;
    line-height: 20px;
    color: #fff;
    background-color: #222c3c;
}
.menu-trees {
    height: 100%;
    padding: 25px 28px 0;
    box-sizing: border-box;
}
.menu-trees::-webkit-scrollbar {
    width: 0;
}
.menu-tree {
    border-bottom: 1px solid #2a3547;
}
.menu-tree:nth-child(3) {
    border-bottom: none;
}
.menu-item {
    position: relative;
    margin-bottom: 20px;
}