body {
  font-family: "Microsoft Yahei","Helvetica","Arial",serif;
  margin: 1em 20%;
}

h3 {
	font-size: 24px;
}

.information p {
	display: inline-block;
	margin-right: 40px;
}

.information span {
	font-weight: bold;
	margin-right: 10px;
}

.th{
	font-weight: bold;
	padding-top: 15px;
}