/* 引入字体 */
@font-face {
	font-family: 'Montserrat-ExtraLight';
	src: url('./font/Montserrat-ExtraLight.ttf') format('truetype');
}
body {
	margin: 0;
	min-width: 1170px;	/* 保证内容全部显示，footer最宽，宽度为1170px */
	font: 16px/1.5 'Montserrat-ExtraLight', Geneva, sans-serif;
	color: #141414;
}
h1,
h2 {
	font-weight: normal;
}
input {
	background: none;
	border: none;
	font: inherit;
	color: inherit;
}
input[type="submit"] {
  cursor: pointer;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
}
/* 公用样式 */
.box {
	width: 100%;
	overflow: hidden;
}
.main {
	width: 970px;
	margin: 0 auto;
	position: relative;
}
.title {
	font-size: 42px;
}
.text {
	text-align: center;
}

/* 顶部header */
.header {	
	height: 990px;
	color: #fff;
	position: relative;
}
.header:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	min-width: 1600px;
	width: 100%;
	height: 100%;
	background-image: url(./image/Header.jpg);
	transform: translate(-50%,-50%);
	background-size: 100% auto;
}
.header .main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.header .main h1 {
	font-size: 62px;
	margin-bottom: 50px;
}
.header .text {
	width: 770px;
	font-size: 20px;
	opacity: 0.8;
}
.header .form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 250px;
	width: 100%;
	margin-top: 100px;
	border: solid 1px rgba(255,255,255,0.3);
	box-sizing: border-box;
}
.form .title{
	font-size: 16px;
}
.form .text {
	margin-bottom: 45px;
	font-size: 12px;
	opacity: 0.5;
}
.header form {
	line-height: 50px;
}
.header .form-input {
	width: 292px;
	height: 50px;
	padding: 0 20px;
	margin-right: 32px;
	color: #fff;
	border: 1px solid rgba(255, 255, 255, .2);
	font-size: 14px;
}
.header .form-input::placeholder {
  color: rgba(255, 255, 255, .3);
}
.header .form-submit {
	width: 125px;
	height: 50px;
	font-size: 12px;
	background-color: #fff;
	border-radius: 2px;
	color: #141414;
}

/* 第二部分2nd */
.box-2nd {
	height: 710px;
	text-align: center;
}
.box-2nd .main {
	width: 1040px;
}
.box-2nd .text {
	padding-top: 80px;
	line-height: 30px;
	font-weight: 600;
	font-size: 14px;
}
.box-2nd .title {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 80px;
	line-height: 1;
}
.box .item {
	float: left;
	position: relative;
	width: 430px;
	height: 165px;
	box-sizing: border-box;
	text-align: left;
	padding-left: 76px;
}
.box .item:nth-child(even) {
	margin-left: 140px;
}
.box .item-title {
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 700;
}
/*
.box .icon {
	background-image: url(./image/sec_icon.png);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 2px;
	left: 0;
}
.box .icon-2nd {
	background-position: 0 -60px;
}
.box .icon-3rd {
	background-position: 0 -120px;
}
.box .icon-4th {
	background-position: 0 -180px;
}
*/
.box .icon {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 5px;
	left: 0;
}
.box .icon-1st {
	background:url(./image/2nd_1.png) no-repeat;	
}
.box .icon-2nd {
	background:url(./image/2nd_2.png) no-repeat;	
}
.box .icon-3rd {
	background:url(./image/2nd_3.png) no-repeat;	
}
.box .icon-4th {
	background:url(./image/2nd_4.png) no-repeat;	
}

/* 第三部分3rd */
.box-3rd {
	height: 800px;
	color: #fff;
	position: relative;
}
.box-3rd:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	min-width: 1600px;
	width: 100%;
	height: 100%;
	background-image: url(./image/3rd.jpg);
	transform: translate(-50%,-50%);
	background-size: 100% auto;
}
.box-3rd .title {
	width: 400px;
	line-height: 1.2;
	margin-top: 180px;
}
.box-3rd .text {
	width: 390px;
	text-align: left;
	font-size: 18px;
	opacity: 0.7;
	margin-bottom: 60px;
}
.box-3rd .button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 230px;
	height: 60px;
	border-radius: 2px;
	font-size: 12px;
	box-sizing: border-box;
}
.box-3rd .but-1 {
	margin-right: 30px;
} 
.box-3rd .but-1,.but-2 {
	border: 1px solid rgba(255,255,255,0.2);
	color: #fff;
}
.box-3rd .but-1:hover,.but-2:hover {
	background-color: #fff;
	color: #000;
}

/* 第四部分4th */
.box-4th {
	height: 580px;
	padding-top: 90px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	box-sizing: border-box;
}
.box-4th .title {
	text-align: center;
	margin-bottom: 75px;
}
.box-4th .list {
	display: flex;
}
.box-4th .item {
	flex: 1;
	line-height: 26px;
	text-align: center;
	box-sizing: border-box;
	word-break: break-all;
	padding: 0 10px;
}
.box-4th .item:nth-child(2) {
	margin: 0 75px;
}
.box-4th .logo {
	display: block;
	height: 45px;
	width: 125px;
	margin: 0 auto 30px;
}
.box-4th .logo-1 {
	background: url(./image/4th-1.png) no-repeat;
}
.box-4th .logo-2 {
	background: url(./image/4th-2.png) no-repeat;
}
.box-4th .logo-3 {
	background: url(./image/4th-3.png) no-repeat;
}

/* 第五部分5th */
.box-5th {
	padding: 115px 0px 105px 0px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.box-5th .item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 350px;
	position: relative;
}
.box-5th .item-img {
	position: absolute;
	top: 0;
	width: 570px;
	height: 350px;
	vertical-align: top;
}
.box-5th .item:nth-child(odd) {
	padding-left: 670px;
}
.box-5th .item:nth-child(odd) .item-img {
	left: 0;
}
.box-5th .item:nth-child(even) {
	margin-top: 80px;
	padding-right: 700px;
}
.box-5th .item:nth-child(even) .item-img {
	right: 0;
}
.box-5th .item-title {
	margin-top: 15px;
	font-size: 18px;
	font-weight: 600;
}
.box-5th .item-text {
	width: 300px;
}
