h1{
  font-size: 32px;
  text-align: center;
  background: #338FCC;
}
h3{
  font-size: 24px;
  background: #338FCC;
}
p{
  color: #000;
  font-size: 16px;
  font-weight: normal;
}
#project{
  color: #1AE694;
  font-size: 20px;
  font-weight: bold;
}
#intern{
  color: #1AE694;
  font-size: 20px;
  font-weight: bold;
}